#listrow_attackw, #listrow_defensew {height:0;border:0;padding:0;margin:0;font-size:0;color:transparent}
#listrow_attackw:after, #listrow_defensew:after {display:inline-block;float:right;font-size:12px;margin-right:5px;margin-top:-17px;}

#listrow_attackw[title$='1%']:after,#listrow_defensew[title$='1%']:after{content:'1%'}
#listrow_attackw[title$='2%']:after,#listrow_defensew[title$='2%']:after{content:'2%'}
#listrow_attackw[title$='3%']:after,#listrow_defensew[title$='3%']:after{content:'3%'}
#listrow_attackw[title$='4%']:after,#listrow_defensew[title$='4%']:after{content:'4%'}
#listrow_attackw[title$='5%']:after,#listrow_defensew[title$='5%']:after{content:'5%'}
#listrow_attackw[title$='6%']:after,#listrow_defensew[title$='6%']:after{content:'6%'}
#listrow_attackw[title$='7%']:after,#listrow_defensew[title$='7%']:after{content:'7%'}
#listrow_attackw[title$='8%']:after,#listrow_defensew[title$='8%']:after{content:'8%'}
#listrow_attackw[title$='9%']:after,#listrow_defensew[title$='9%']:after{content:'9%'}
#listrow_attackw[title$='10%']:after,#listrow_defensew[title$='10%']:after{content:'10%'}
#listrow_attackw[title$='11%']:after,#listrow_defensew[title$='11%']:after{content:'11%'}
#listrow_attackw[title$='12%']:after,#listrow_defensew[title$='12%']:after{content:'12%'}
#listrow_attackw[title$='13%']:after,#listrow_defensew[title$='13%']:after{content:'13%'}
#listrow_attackw[title$='14%']:after,#listrow_defensew[title$='14%']:after{content:'14%'}
#listrow_attackw[title$='15%']:after,#listrow_defensew[title$='15%']:after{content:'15%'}
#listrow_attackw[title$='16%']:after,#listrow_defensew[title$='16%']:after{content:'16%'}
#listrow_attackw[title$='17%']:after,#listrow_defensew[title$='17%']:after{content:'17%'}
#listrow_attackw[title$='18%']:after,#listrow_defensew[title$='18%']:after{content:'18%'}
#listrow_attackw[title$='19%']:after,#listrow_defensew[title$='19%']:after{content:'19%'}
#listrow_attackw[title$='20%']:after,#listrow_defensew[title$='20%']:after{content:'20%'}
#listrow_attackw[title$='21%']:after,#listrow_defensew[title$='21%']:after{content:'21%'}
#listrow_attackw[title$='22%']:after,#listrow_defensew[title$='22%']:after{content:'22%'}
#listrow_attackw[title$='23%']:after,#listrow_defensew[title$='23%']:after{content:'23%'}
#listrow_attackw[title$='24%']:after,#listrow_defensew[title$='24%']:after{content:'24%'}
#listrow_attackw[title$='25%']:after,#listrow_defensew[title$='25%']:after{content:'25%'}
#listrow_attackw[title$='26%']:after,#listrow_defensew[title$='26%']:after{content:'26%'}
#listrow_attackw[title$='27%']:after,#listrow_defensew[title$='27%']:after{content:'27%'}
#listrow_attackw[title$='28%']:after,#listrow_defensew[title$='28%']:after{content:'28%'}
#listrow_attackw[title$='29%']:after,#listrow_defensew[title$='29%']:after{content:'29%'}
#listrow_attackw[title$='30%']:after,#listrow_defensew[title$='30%']:after{content:'30%'}
#listrow_attackw[title$='31%']:after,#listrow_defensew[title$='31%']:after{content:'31%'}
#listrow_attackw[title$='32%']:after,#listrow_defensew[title$='32%']:after{content:'32%'}
#listrow_attackw[title$='33%']:after,#listrow_defensew[title$='33%']:after{content:'33%'}
#listrow_attackw[title$='34%']:after,#listrow_defensew[title$='34%']:after{content:'34%'}
#listrow_attackw[title$='35%']:after,#listrow_defensew[title$='35%']:after{content:'35%'}
#listrow_attackw[title$='36%']:after,#listrow_defensew[title$='36%']:after{content:'36%'}
#listrow_attackw[title$='37%']:after,#listrow_defensew[title$='37%']:after{content:'37%'}
#listrow_attackw[title$='38%']:after,#listrow_defensew[title$='38%']:after{content:'38%'}
#listrow_attackw[title$='39%']:after,#listrow_defensew[title$='39%']:after{content:'39%'}
#listrow_attackw[title$='40%']:after,#listrow_defensew[title$='40%']:after{content:'40%'}
#listrow_attackw[title$='41%']:after,#listrow_defensew[title$='41%']:after{content:'41%'}
#listrow_attackw[title$='42%']:after,#listrow_defensew[title$='42%']:after{content:'42%'}
#listrow_attackw[title$='43%']:after,#listrow_defensew[title$='43%']:after{content:'43%'}
#listrow_attackw[title$='44%']:after,#listrow_defensew[title$='44%']:after{content:'44%'}
#listrow_attackw[title$='45%']:after,#listrow_defensew[title$='45%']:after{content:'45%'}
#listrow_attackw[title$='46%']:after,#listrow_defensew[title$='46%']:after{content:'46%'}
#listrow_attackw[title$='47%']:after,#listrow_defensew[title$='47%']:after{content:'47%'}
#listrow_attackw[title$='48%']:after,#listrow_defensew[title$='48%']:after{content:'48%'}
#listrow_attackw[title$='49%']:after,#listrow_defensew[title$='49%']:after{content:'49%'}
#listrow_attackw[title$='50%']:after,#listrow_defensew[title$='50%']:after{content:'50%'}
#listrow_attackw[title$='51%']:after,#listrow_defensew[title$='51%']:after{content:'51%'}
#listrow_attackw[title$='52%']:after,#listrow_defensew[title$='52%']:after{content:'52%'}
#listrow_attackw[title$='53%']:after,#listrow_defensew[title$='53%']:after{content:'53%'}
#listrow_attackw[title$='54%']:after,#listrow_defensew[title$='54%']:after{content:'54%'}
#listrow_attackw[title$='55%']:after,#listrow_defensew[title$='55%']:after{content:'55%'}
#listrow_attackw[title$='56%']:after,#listrow_defensew[title$='56%']:after{content:'56%'}
#listrow_attackw[title$='57%']:after,#listrow_defensew[title$='57%']:after{content:'57%'}
#listrow_attackw[title$='58%']:after,#listrow_defensew[title$='58%']:after{content:'58%'}
#listrow_attackw[title$='59%']:after,#listrow_defensew[title$='59%']:after{content:'59%'}
#listrow_attackw[title$='60%']:after,#listrow_defensew[title$='60%']:after{content:'60%'}
#listrow_attackw[title$='61%']:after,#listrow_defensew[title$='61%']:after{content:'61%'}
#listrow_attackw[title$='62%']:after,#listrow_defensew[title$='62%']:after{content:'62%'}
#listrow_attackw[title$='63%']:after,#listrow_defensew[title$='63%']:after{content:'63%'}
#listrow_attackw[title$='64%']:after,#listrow_defensew[title$='64%']:after{content:'64%'}
#listrow_attackw[title$='65%']:after,#listrow_defensew[title$='65%']:after{content:'65%'}
#listrow_attackw[title$='66%']:after,#listrow_defensew[title$='66%']:after{content:'66%'}
#listrow_attackw[title$='67%']:after,#listrow_defensew[title$='67%']:after{content:'67%'}
#listrow_attackw[title$='68%']:after,#listrow_defensew[title$='68%']:after{content:'68%'}
#listrow_attackw[title$='69%']:after,#listrow_defensew[title$='69%']:after{content:'69%'}
#listrow_attackw[title$='70%']:after,#listrow_defensew[title$='70%']:after{content:'70%'}
#listrow_attackw[title$='71%']:after,#listrow_defensew[title$='71%']:after{content:'71%'}
#listrow_attackw[title$='72%']:after,#listrow_defensew[title$='72%']:after{content:'72%'}
#listrow_attackw[title$='73%']:after,#listrow_defensew[title$='73%']:after{content:'73%'}
#listrow_attackw[title$='74%']:after,#listrow_defensew[title$='74%']:after{content:'74%'}
#listrow_attackw[title$='75%']:after,#listrow_defensew[title$='75%']:after{content:'75%'}
#listrow_attackw[title$='76%']:after,#listrow_defensew[title$='76%']:after{content:'76%'}
#listrow_attackw[title$='77%']:after,#listrow_defensew[title$='77%']:after{content:'77%'}
#listrow_attackw[title$='78%']:after,#listrow_defensew[title$='78%']:after{content:'78%'}
#listrow_attackw[title$='79%']:after,#listrow_defensew[title$='79%']:after{content:'79%'}
#listrow_attackw[title$='80%']:after,#listrow_defensew[title$='80%']:after{content:'80%'}
#listrow_attackw[title$='81%']:after,#listrow_defensew[title$='81%']:after{content:'81%'}
#listrow_attackw[title$='82%']:after,#listrow_defensew[title$='82%']:after{content:'82%'}
#listrow_attackw[title$='83%']:after,#listrow_defensew[title$='83%']:after{content:'83%'}
#listrow_attackw[title$='84%']:after,#listrow_defensew[title$='84%']:after{content:'84%'}
#listrow_attackw[title$='85%']:after,#listrow_defensew[title$='85%']:after{content:'85%'}
#listrow_attackw[title$='86%']:after,#listrow_defensew[title$='86%']:after{content:'86%'}
#listrow_attackw[title$='87%']:after,#listrow_defensew[title$='87%']:after{content:'87%'}
#listrow_attackw[title$='88%']:after,#listrow_defensew[title$='88%']:after{content:'88%'}
#listrow_attackw[title$='89%']:after,#listrow_defensew[title$='89%']:after{content:'89%'}
#listrow_attackw[title$='90%']:after,#listrow_defensew[title$='90%']:after{content:'90%'}
#listrow_attackw[title$='91%']:after,#listrow_defensew[title$='91%']:after{content:'91%'}
#listrow_attackw[title$='92%']:after,#listrow_defensew[title$='92%']:after{content:'92%'}
#listrow_attackw[title$='93%']:after,#listrow_defensew[title$='93%']:after{content:'93%'}
#listrow_attackw[title$='94%']:after,#listrow_defensew[title$='94%']:after{content:'94%'}
#listrow_attackw[title$='95%']:after,#listrow_defensew[title$='95%']:after{content:'95%'}
#listrow_attackw[title$='96%']:after,#listrow_defensew[title$='96%']:after{content:'96%'}
#listrow_attackw[title$='97%']:after,#listrow_defensew[title$='97%']:after{content:'97%'}
#listrow_attackw[title$='98%']:after,#listrow_defensew[title$='98%']:after{content:'98%'}
#listrow_attackw[title$='99%']:after,#listrow_defensew[title$='99%']:after{content:'99%'}
#listrow_attackw[title$='100%']:after,#listrow_defensew[title$='100%']:after{content:'100%'}
#listrow_attackw[title$='101%']:after,#listrow_defensew[title$='101%']:after{content:'101%'}
#listrow_attackw[title$='102%']:after,#listrow_defensew[title$='102%']:after{content:'102%'}
#listrow_attackw[title$='103%']:after,#listrow_defensew[title$='103%']:after{content:'103%'}
#listrow_attackw[title$='104%']:after,#listrow_defensew[title$='104%']:after{content:'104%'}
#listrow_attackw[title$='105%']:after,#listrow_defensew[title$='105%']:after{content:'105%'}
#listrow_attackw[title$='106%']:after,#listrow_defensew[title$='106%']:after{content:'106%'}
#listrow_attackw[title$='107%']:after,#listrow_defensew[title$='107%']:after{content:'107%'}
#listrow_attackw[title$='108%']:after,#listrow_defensew[title$='108%']:after{content:'108%'}
#listrow_attackw[title$='109%']:after,#listrow_defensew[title$='109%']:after{content:'109%'}
#listrow_attackw[title$='110%']:after,#listrow_defensew[title$='110%']:after{content:'110%'}
#listrow_attackw[title$='111%']:after,#listrow_defensew[title$='111%']:after{content:'111%'}
#listrow_attackw[title$='112%']:after,#listrow_defensew[title$='112%']:after{content:'112%'}
#listrow_attackw[title$='113%']:after,#listrow_defensew[title$='113%']:after{content:'113%'}
#listrow_attackw[title$='114%']:after,#listrow_defensew[title$='114%']:after{content:'114%'}
#listrow_attackw[title$='115%']:after,#listrow_defensew[title$='115%']:after{content:'115%'}
#listrow_attackw[title$='116%']:after,#listrow_defensew[title$='116%']:after{content:'116%'}
#listrow_attackw[title$='117%']:after,#listrow_defensew[title$='117%']:after{content:'117%'}
#listrow_attackw[title$='118%']:after,#listrow_defensew[title$='118%']:after{content:'118%'}
#listrow_attackw[title$='119%']:after,#listrow_defensew[title$='119%']:after{content:'119%'}
#listrow_attackw[title$='120%']:after,#listrow_defensew[title$='120%']:after{content:'120%'}
#listrow_attackw[title$='121%']:after,#listrow_defensew[title$='121%']:after{content:'121%'}
#listrow_attackw[title$='122%']:after,#listrow_defensew[title$='122%']:after{content:'122%'}
#listrow_attackw[title$='123%']:after,#listrow_defensew[title$='123%']:after{content:'123%'}
#listrow_attackw[title$='124%']:after,#listrow_defensew[title$='124%']:after{content:'124%'}
#listrow_attackw[title$='125%']:after,#listrow_defensew[title$='125%']:after{content:'125%'}
#listrow_attackw[title$='126%']:after,#listrow_defensew[title$='126%']:after{content:'126%'}
#listrow_attackw[title$='127%']:after,#listrow_defensew[title$='127%']:after{content:'127%'}
#listrow_attackw[title$='128%']:after,#listrow_defensew[title$='128%']:after{content:'128%'}
#listrow_attackw[title$='129%']:after,#listrow_defensew[title$='129%']:after{content:'129%'}
#listrow_attackw[title$='130%']:after,#listrow_defensew[title$='130%']:after{content:'130%'}
#listrow_attackw[title$='131%']:after,#listrow_defensew[title$='131%']:after{content:'131%'}
#listrow_attackw[title$='132%']:after,#listrow_defensew[title$='132%']:after{content:'132%'}
#listrow_attackw[title$='133%']:after,#listrow_defensew[title$='133%']:after{content:'133%'}
#listrow_attackw[title$='134%']:after,#listrow_defensew[title$='134%']:after{content:'134%'}
#listrow_attackw[title$='135%']:after,#listrow_defensew[title$='135%']:after{content:'135%'}
#listrow_attackw[title$='136%']:after,#listrow_defensew[title$='136%']:after{content:'136%'}
#listrow_attackw[title$='137%']:after,#listrow_defensew[title$='137%']:after{content:'137%'}
#listrow_attackw[title$='138%']:after,#listrow_defensew[title$='138%']:after{content:'138%'}
#listrow_attackw[title$='139%']:after,#listrow_defensew[title$='139%']:after{content:'139%'}
#listrow_attackw[title$='140%']:after,#listrow_defensew[title$='140%']:after{content:'140%'}
#listrow_attackw[title$='141%']:after,#listrow_defensew[title$='141%']:after{content:'141%'}
#listrow_attackw[title$='142%']:after,#listrow_defensew[title$='142%']:after{content:'142%'}
#listrow_attackw[title$='143%']:after,#listrow_defensew[title$='143%']:after{content:'143%'}
#listrow_attackw[title$='144%']:after,#listrow_defensew[title$='144%']:after{content:'144%'}
#listrow_attackw[title$='145%']:after,#listrow_defensew[title$='145%']:after{content:'145%'}
#listrow_attackw[title$='146%']:after,#listrow_defensew[title$='146%']:after{content:'146%'}
#listrow_attackw[title$='147%']:after,#listrow_defensew[title$='147%']:after{content:'147%'}
#listrow_attackw[title$='148%']:after,#listrow_defensew[title$='148%']:after{content:'148%'}
#listrow_attackw[title$='149%']:after,#listrow_defensew[title$='149%']:after{content:'149%'}
#listrow_attackw[title$='150%']:after,#listrow_defensew[title$='150%']:after{content:'150%'}
#listrow_attackw[title$='151%']:after,#listrow_defensew[title$='151%']:after{content:'151%'}
#listrow_attackw[title$='152%']:after,#listrow_defensew[title$='152%']:after{content:'152%'}
#listrow_attackw[title$='153%']:after,#listrow_defensew[title$='153%']:after{content:'153%'}
#listrow_attackw[title$='154%']:after,#listrow_defensew[title$='154%']:after{content:'154%'}
#listrow_attackw[title$='155%']:after,#listrow_defensew[title$='155%']:after{content:'155%'}
#listrow_attackw[title$='156%']:after,#listrow_defensew[title$='156%']:after{content:'156%'}
#listrow_attackw[title$='157%']:after,#listrow_defensew[title$='157%']:after{content:'157%'}
#listrow_attackw[title$='158%']:after,#listrow_defensew[title$='158%']:after{content:'158%'}
#listrow_attackw[title$='159%']:after,#listrow_defensew[title$='159%']:after{content:'159%'}
#listrow_attackw[title$='160%']:after,#listrow_defensew[title$='160%']:after{content:'160%'}
#listrow_attackw[title$='161%']:after,#listrow_defensew[title$='161%']:after{content:'161%'}
#listrow_attackw[title$='162%']:after,#listrow_defensew[title$='162%']:after{content:'162%'}
#listrow_attackw[title$='163%']:after,#listrow_defensew[title$='163%']:after{content:'163%'}
#listrow_attackw[title$='164%']:after,#listrow_defensew[title$='164%']:after{content:'164%'}
#listrow_attackw[title$='165%']:after,#listrow_defensew[title$='165%']:after{content:'165%'}
#listrow_attackw[title$='166%']:after,#listrow_defensew[title$='166%']:after{content:'166%'}
#listrow_attackw[title$='167%']:after,#listrow_defensew[title$='167%']:after{content:'167%'}
#listrow_attackw[title$='168%']:after,#listrow_defensew[title$='168%']:after{content:'168%'}
#listrow_attackw[title$='169%']:after,#listrow_defensew[title$='169%']:after{content:'169%'}
#listrow_attackw[title$='170%']:after,#listrow_defensew[title$='170%']:after{content:'170%'}
#listrow_attackw[title$='171%']:after,#listrow_defensew[title$='171%']:after{content:'171%'}
#listrow_attackw[title$='172%']:after,#listrow_defensew[title$='172%']:after{content:'172%'}
#listrow_attackw[title$='173%']:after,#listrow_defensew[title$='173%']:after{content:'173%'}
#listrow_attackw[title$='174%']:after,#listrow_defensew[title$='174%']:after{content:'174%'}
#listrow_attackw[title$='175%']:after,#listrow_defensew[title$='175%']:after{content:'175%'}
#listrow_attackw[title$='176%']:after,#listrow_defensew[title$='176%']:after{content:'176%'}
#listrow_attackw[title$='177%']:after,#listrow_defensew[title$='177%']:after{content:'177%'}
#listrow_attackw[title$='178%']:after,#listrow_defensew[title$='178%']:after{content:'178%'}
#listrow_attackw[title$='179%']:after,#listrow_defensew[title$='179%']:after{content:'179%'}
#listrow_attackw[title$='180%']:after,#listrow_defensew[title$='180%']:after{content:'180%'}
#listrow_attackw[title$='181%']:after,#listrow_defensew[title$='181%']:after{content:'181%'}
#listrow_attackw[title$='182%']:after,#listrow_defensew[title$='182%']:after{content:'182%'}
#listrow_attackw[title$='183%']:after,#listrow_defensew[title$='183%']:after{content:'183%'}
#listrow_attackw[title$='184%']:after,#listrow_defensew[title$='184%']:after{content:'184%'}
#listrow_attackw[title$='185%']:after,#listrow_defensew[title$='185%']:after{content:'185%'}
#listrow_attackw[title$='186%']:after,#listrow_defensew[title$='186%']:after{content:'186%'}
#listrow_attackw[title$='187%']:after,#listrow_defensew[title$='187%']:after{content:'187%'}
#listrow_attackw[title$='188%']:after,#listrow_defensew[title$='188%']:after{content:'188%'}
#listrow_attackw[title$='189%']:after,#listrow_defensew[title$='189%']:after{content:'189%'}
#listrow_attackw[title$='190%']:after,#listrow_defensew[title$='190%']:after{content:'190%'}
#listrow_attackw[title$='191%']:after,#listrow_defensew[title$='191%']:after{content:'191%'}
#listrow_attackw[title$='192%']:after,#listrow_defensew[title$='192%']:after{content:'192%'}
#listrow_attackw[title$='193%']:after,#listrow_defensew[title$='193%']:after{content:'193%'}
#listrow_attackw[title$='194%']:after,#listrow_defensew[title$='194%']:after{content:'194%'}
#listrow_attackw[title$='195%']:after,#listrow_defensew[title$='195%']:after{content:'195%'}
#listrow_attackw[title$='196%']:after,#listrow_defensew[title$='196%']:after{content:'196%'}
#listrow_attackw[title$='197%']:after,#listrow_defensew[title$='197%']:after{content:'197%'}
#listrow_attackw[title$='198%']:after,#listrow_defensew[title$='198%']:after{content:'198%'}
#listrow_attackw[title$='199%']:after,#listrow_defensew[title$='199%']:after{content:'199%'}
#listrow_attackw[title$='200%']:after,#listrow_defensew[title$='200%']:after{content:'200%'}

#listrow_attackw:after{color:#0a0}
#listrow_attackw[title$=" 9%"]:after,
#listrow_attackw[title$=" 8%"]:after,
#listrow_attackw[title$=" 7%"]:after,
#listrow_attackw[title$=" 6%"]:after,
#listrow_attackw[title$=" 5%"]:after,
#listrow_attackw[title$=" 4%"]:after,
#listrow_attackw[title$=" 3%"]:after,
#listrow_attackw[title$=" 2%"]:after,
#listrow_attackw[title$=" 1%"]:after {color:#a00}

#listrow_defensew:after{color:#0a0}
#listrow_defensew[title$=" 9%"]:after,
#listrow_defensew[title$=" 8%"]:after,
#listrow_defensew[title$=" 7%"]:after,
#listrow_defensew[title$=" 6%"]:after,
#listrow_defensew[title$=" 5%"]:after,
#listrow_defensew[title$=" 4%"]:after,
#listrow_defensew[title$=" 3%"]:after,
#listrow_defensew[title$=" 2%"]:after,
#listrow_defensew[title$=" 1%"]:after {color:#a00}
